body{
    background: url('../images/hatter1.png') #0026ff ;
    font-family: arial;
    font-size: 100%;
    color: #f0c9b1;

}
header h1{
    color: rgb(0, 119, 255);
    text-shadow: 2px 2px 2px black;
    
    

}
header p{
    color: rgb(0, 119, 255);
    text-shadow: 1px 1px 1px black;

}
header{
    color: blue;
}
