body{
    background: url('../images/hatters.jpg') #0077ff ;
    font-family: arial;
    font-size: 100%;
    color: #f0c9b1;
    
}
figure{
    padding: 10px;
    background:  #0117dfc2 ;
    margin: 0 0 2px 0;
    color: black;
}
figure img{
    max-width: 100%;
}
figure figcaption{
    font-style: italic;
    font-size: 80%;
    margin: 6px 0 0 0;
}



footer{
    
    margin: 5px auto;
    padding: 5px;
    background: rgb(0, 0, 0);
    text-align: center;

}
p{
    color: rgb(0, 119, 255);
    text-shadow: 2px 2px 2px black;
    font-family: arial;
    font-size: 150%;
    text-align: center;
}
h3{
    color: rgb(0, 119, 255);
    text-shadow: 5px 5px 5px black;
    font-family: 150%;
}
h2{
    color: rgb(0, 119, 255);
    text-shadow: 3px 3px 3px black;
    text-align: center
}
h5{
    color: rgb(0, 119, 255);
    text-shadow: 3px 3px 3px black;
    text-align: center;
}
h1{
    color: rgb(0, 119, 255);
    text-shadow: 5px 5px 5px black;
    text-align: center;
}
