body{
    background: url('../images/hatter1.png') #0026ff ;
    font-family: arial;
    font-size: 100%;
    color: #f0c9b1;

}
header h1{
    color: rgb(0, 119, 255);
    text-shadow: 2px 2px 2px black;
    
    

}
header p{
    color: rgb(0, 119, 255);
    text-shadow: 1px 1px 1px black;

}
nav{
    padding: 10px 0;
    margin: 20px 0;
    color: rgb(44, 40, 40);
    box-shadow:0px 0px 5px  #01d7fda1;
}
footer{
    width: 760px;
    margin: 20px auto;
    padding: 20px;
    background: rgb(0, 183, 255);
    text-align: center;

}
