body{
    background: url('../images/hatter1.png') #0026ff ;
    font-family: arial;
    font-size: 100%;
    color: #f0c9b1;

}
header {
    

}
header h1{
    background-image: url("../images/header2.png") #0026ff;
    color: rgb(0, 119, 255);
    text-shadow: 2px 2px 2px black;
    text-align: center;
    

}
header p{
    color: rgb(0, 119, 255);
    text-shadow: 1px 1px 1px black;

}

nav{
    padding: 10px 0;
    margin: 20px 0;
    color: rgb(44, 40, 40);
    box-shadow:0px 0px 5px  #01d7fda1;
}
footer{
    
    margin: 5px auto;
    padding: 5px;
    background: rgb(0, 0, 0);
    text-align: center;

}
p{
    color: rgba(203, 223, 22, 0.897);
    text-shadow: 1px 1px 1px black;
}
h3{
    color: rgb(0, 119, 255);
    text-shadow: 2px 2px 2px black;
}