*{
    padding: 0;
    margin: 0;
    border:0;
}
body{
    background: url('../images/school4.jpg') #0077ff ;
    font-family: arial;
    font-size: 100%;
    color: #f0c9b1;
    background-attachment: fixed;
    background-size: 100% 100%;
    
}
figure{
    padding: 10px;
    background:  #37394bc2 ;
    margin: 0 0 2px 0;
    color: black;
}
figure img{
    max-width: 100%;
}
figure figcaption{
    font-style: italic;
    font-size: 100%;
    margin: 6px 0 0 0;
    color:blue;
    text-shadow: 5px 5px 5px  black;
    
    
}



footer{
    
    margin: 5px auto;
    padding: 5px;
    background: rgb(0, 0, 0);
    text-align: center;
   

}
p{
    color: rgb(0, 183, 255);
    text-shadow: 2px 2px 2px black;
    font-family: arial;
    font-size: 150%;
    text-align: center;
}
h3{
    color: rgb(0, 183, 255);
    text-shadow: 5px 5px 5px black;
    font-family: 150%;
}
h2{
    color: rgb(0, 183, 255);
    text-shadow: 3px 3px 3px black;
    text-align: center
}
h5{
    color: rgb(0, 183, 255);
    text-shadow: 3px 3px 3px black;
    text-align: center;
}
h1{
    color: rgb(0, 183, 255);
    text-shadow: 5px 5px 5px black;
    text-align: center;
}
nav{
    background-color: rgba(255, 0, 0, 0.486);
    
}

